<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    
    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'blogs', media: 'all', 'data-turbolinks-track': 'reload' %> <!-- changed application to blogs -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/blog_nav' %>
    <%= render 'shared/blog_masthead' %>

    <div class="container">
      <div class="row">
        <%= yield %>
        <%= render 'shared/blog_sidebar' %>
        <%= render 'shared/blog_footer' %>
        <%= source_helper %>
      </div>
    </div>
  </body>
</html>
